.leaflet-control-measure h3,
.leaflet-measure-resultpopup h3 {
    margin: 0 0 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd
}

.leaflet-control-measure p,
.leaflet-measure-resultpopup p {
    margin: 10px 0 0;
    line-height: 1.5em
}

.leaflet-control-measure p:first-child,
.leaflet-measure-resultpopup p:first-child {
    margin-top: 0
}

.leaflet-control-measure .tasks,
.leaflet-measure-resultpopup .tasks {
    margin: 12px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    text-align: right;
    list-style: none;
    list-style-image: none
}

.leaflet-control-measure .tasks li,
.leaflet-measure-resultpopup .tasks li {
    display: inline;
    margin: 0 10px 0 0
}

.leaflet-control-measure .tasks li:last-child,
.leaflet-measure-resultpopup .tasks li:last-child {
    margin-right: 0
}

.leaflet-control-measure .coorddivider,
.leaflet-measure-resultpopup .coorddivider {
    color: #999
}

.leaflet-control-measure {
    max-width: 280px;
    background: #fff
}

/* assets/rulers.png */
.leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-size: 14px 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGJJREFUOI1jYGBgOM3AwPAfCTMwMDA8QxPDhT8xoAlIM5AG/jMi2QoDjKQYwITEkSFRM9w2qrkA5oqBc8EIDYNHDAzkp0I4QE/fMDF5YvnoBsiTwscWBiQBJgYGhpMU6D8CAJDrOVecOVsbAAAAAElFTkSuQmCC');
    border: 0;
    border-radius: 4px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    border-radius: 2px
}

/* assets/rulers_@2X.png */
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGJJREFUOI1jYGBgOM3AwPAfCTMwMDA8QxPDhT8xoAlIM5AG/jMi2QoDjKQYwITEkSFRM9w2qrkA5oqBc8EIDYNHDAzkp0I4QE/fMDF5YvnoBsiTwscWBiQBJgYGhpMU6D8CAJDrOVecOVsbAAAAAElFTkSuQmCC');
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-size: 16px 16px
}

.leaflet-control-measure .startprompt h3 {
    margin-bottom: 10px
}

.leaflet-control-measure .startprompt .tasks {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    text-align: left
}

.leaflet-control-measure .leaflet-control-measure-interaction {
    padding: 10px 12px
}

.leaflet-control-measure .results .group {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #eaeaea
}

.leaflet-control-measure .results .group:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

.leaflet-control-measure .results .heading {
    margin-right: 5px;
    color: #999
}

/* assets/start.png */
.leaflet-control-measure a.start {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAVNJREFUKJF9kj0vQ3EUxn/nr23uLdeimwgGSxcDUh2NfIKmBomh0t6S9HtIDLdeYpO0Az5AR4v0eqmxg8nARmLxUlSP4fJPGfzGJ885eZ6cI/wQVlz0wwfyCOlI1DZQp/O0w8JBB0AAaPrjCA1UEhgCjF4A0CWDyAboC7HeInO7t0JYceH9CpVrJJ4nu/VKP61Ckvf4IcIkKTNj0A8flYQ1h2sTnBVn7MDs/guDbg7E40FLBshjCOxmE0+hpklYKtuh6c1n0CroskFI28wWSYAJCP1jzteHo/6cg6QN/9P7K8RA23TJAGGf/gZaIbu9axVDFqVtgDoiG7QKSQA+9Z6B3vwv8+mqh0oZoSacrDg4Qy2UGwbdXFSwj9NVj5h7hMooKZmLDndZHKNrGiAeaDUq+BNDysAjRpbIBHdiN52sODheEXQZ5Ps1aCPUGJE9poI3gC+oCnG1JV//agAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-control-measure a.start,
.leaflet-control-measure a.start:hover {
    background-color: transparent
}

/* assets/start_@2X.png */
.leaflet-retina .leaflet-control-measure a.start {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAVNJREFUKJF9kj0vQ3EUxn/nr23uLdeimwgGSxcDUh2NfIKmBomh0t6S9HtIDLdeYpO0Az5AR4v0eqmxg8nARmLxUlSP4fJPGfzGJ885eZ6cI/wQVlz0wwfyCOlI1DZQp/O0w8JBB0AAaPrjCA1UEhgCjF4A0CWDyAboC7HeInO7t0JYceH9CpVrJJ4nu/VKP61Ckvf4IcIkKTNj0A8flYQ1h2sTnBVn7MDs/guDbg7E40FLBshjCOxmE0+hpklYKtuh6c1n0CroskFI28wWSYAJCP1jzteHo/6cg6QN/9P7K8RA23TJAGGf/gZaIbu9axVDFqVtgDoiG7QKSQA+9Z6B3vwv8+mqh0oZoSacrDg4Qy2UGwbdXFSwj9NVj5h7hMooKZmLDndZHKNrGiAeaDUq+BNDysAjRpbIBHdiN52sODheEXQZ5Ps1aCPUGJE9poI3gC+oCnG1JV//agAAAABJRU5ErkJggg==');
}

.leaflet-control-measure a.start:hover {
    opacity: .5;
    text-decoration: none
}

/* assets/cancel.png */
.leaflet-control-measure a.cancel {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAARZJREFUKJF1kT1Ow0AUhL9n7SJbgopIlFQpSLqgHCB04QgxUcRPA6lylkhAFwXFZ6CM0pAGKuQT0CLRUDhZyY/CNjYinm53Z99+MysUWk8C1I2BAUIr29QYiEi+7+nNEwAB4GV8jPAMcsJOaYxJ+3QfPoT1JIDtW725cqnhnXoZRm4WrkCj0sMTqtfZQtp86p0BBhXDGdZd4myKirK3vcHZWeWV0JQBAbjAWcW6bKqzM5CwPJaW9x9VFIDgS3YlMVl10vllLjDckWK3GR4yzP2xASKgk49f/cFwVkFWwDAvZSEsRz7+/itIu6bPQu80pOvRmyeYtJ//ar3Zk3Oa000ZbDny8Q9uQUOQorkYYcGhPNKcbgB+ADLeXpxENzx/AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-control-measure a.cancel,
.leaflet-control-measure a.cancel:hover {
    background-color: transparent
}

/* assets/cancel_@2X.png */
.leaflet-retina .leaflet-control-measure a.cancel {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAARZJREFUKJF1kT1Ow0AUhL9n7SJbgopIlFQpSLqgHCB04QgxUcRPA6lylkhAFwXFZ6CM0pAGKuQT0CLRUDhZyY/CNjYinm53Z99+MysUWk8C1I2BAUIr29QYiEi+7+nNEwAB4GV8jPAMcsJOaYxJ+3QfPoT1JIDtW725cqnhnXoZRm4WrkCj0sMTqtfZQtp86p0BBhXDGdZd4myKirK3vcHZWeWV0JQBAbjAWcW6bKqzM5CwPJaW9x9VFIDgS3YlMVl10vllLjDckWK3GR4yzP2xASKgk49f/cFwVkFWwDAvZSEsRz7+/itIu6bPQu80pOvRmyeYtJ//ar3Zk3Oa000ZbDny8Q9uQUOQorkYYcGhPNKcbgB+ADLeXpxENzx/AAAAAElFTkSuQmCC');
}

.leaflet-control-measure a.cancel:hover {
    opacity: .5;
    text-decoration: none
}

/* assets/check.png */
.leaflet-control-measure a.finish {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAQlJREFUKJF9kb1OAkEUhb87GchsopX0VhQuHWYrG7EwwUeAmK2VitpnMDEhUVsS6OwsLLGSRiuyT2BLaXRxwo7FLLoku57y5Ls/515ho/kwwNkB0EMIvekSYEr6cUtnnAIIAC+DfYQnkANK5RJ01iW6exfmwwC+36rhQlFDHSq/xn+wewD3CdJi6S4V0Ktm3Q01G+NIcqOv/gICuOUWXLdX2PojIpE3JVSFfs8YFQKLLRhOikO1P520gWPS7Jz11xFGr8tgINHAFGjnI6/RQQ0rpyUwCBNhFhvMzitIqzK814KGRIrOOEVn3fyr1bCSM5qjlfxas9hgdi/A9UE2l0sQJuzJPc3RCuAHyAtX3z9pAkEAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-control-measure a.finish,
.leaflet-control-measure a.finish:hover {
    background-color: transparent
}

/* assets/check_@2X.png */
.leaflet-retina .leaflet-control-measure a.finish {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAQlJREFUKJF9kb1OAkEUhb87GchsopX0VhQuHWYrG7EwwUeAmK2VitpnMDEhUVsS6OwsLLGSRiuyT2BLaXRxwo7FLLoku57y5Ls/515ho/kwwNkB0EMIvekSYEr6cUtnnAIIAC+DfYQnkANK5RJ01iW6exfmwwC+36rhQlFDHSq/xn+wewD3CdJi6S4V0Ktm3Q01G+NIcqOv/gICuOUWXLdX2PojIpE3JVSFfs8YFQKLLRhOikO1P520gWPS7Jz11xFGr8tgINHAFGjnI6/RQQ0rpyUwCBNhFhvMzitIqzK814KGRIrOOEVn3fyr1bCSM5qjlfxas9hgdi/A9UE2l0sQJuzJPc3RCuAHyAtX3z9pAkEAAAAASUVORK5CYII=');
}

.leaflet-control-measure a.finish:hover {
    opacity: .5;
    text-decoration: none
}

/* assets/focus.png */
.leaflet-measure-resultpopup a.zoomto {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAMxJREFUKJGVkb0NwjAUhL9nESagYQ8K6FKlo2AIksJLZAkQZAlESZeKNCyCxAQJ2BR2zI8RiCt9d+/dO8OfEABO+YguyYEhUDNb1QA0OgVSoCXpKibVRQF4cfZlcOY1DPxDP7l8kblNNY0uvSYY6iBq9ALLBhGLmILpev/MS7T8qM+ImqNQGLNjtho/0yoyiFgUits15kIk14bLLKbAyA5RYFm+8/0NabjFZd6/DQ58b2iBzLfx6R9SLIdHpKSr6BLw1UWwHJDh9iP3C3cmD0KeaR4MqwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-measure-resultpopup a.zoomto,
.leaflet-measure-resultpopup a.zoomto:hover {
    background-color: transparent
}

/* assets/focus_@2X.png */
.leaflet-retina .leaflet-measure-resultpopup a.zoomto {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAMxJREFUKJGVkb0NwjAUhL9nESagYQ8K6FKlo2AIksJLZAkQZAlESZeKNCyCxAQJ2BR2zI8RiCt9d+/dO8OfEABO+YguyYEhUDNb1QA0OgVSoCXpKibVRQF4cfZlcOY1DPxDP7l8kblNNY0uvSYY6iBq9ALLBhGLmILpev/MS7T8qM+ImqNQGLNjtho/0yoyiFgUits15kIk14bLLKbAyA5RYFm+8/0NabjFZd6/DQ58b2iBzLfx6R9SLIdHpKSr6BLw1UWwHJDh9iP3C3cmD0KeaR4MqwAAAABJRU5ErkJggg==');
}

.leaflet-measure-resultpopup a.zoomto:hover {
    opacity: .5;
    text-decoration: none
}

/* assets/trash.png */
.leaflet-measure-resultpopup a.deletemarkup {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAABHNCSVQICAgIfAhkiAAAAKNJREFUKJG9jj0KwkAQRt+E+AsWXsDOQwQvI4I2u42tFjb2VloFPIog4jbeQaztbCIuuBauRGUTO1/zMTOPmRHeMWoN0s8bLiVZDl+VsJnFANTPXZAtVDskiwwzboA9IVGPrH18ykZfgRo/cTd/XrtSz8+jr+Y0mJ5PGeYFGZRL+Zfs3CSYuYBg1J3DqBlctxu02GsLECM4jKTYygWjij5YATwAFTMzzTn7Q4EAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-measure-resultpopup a.deletemarkup,
.leaflet-measure-resultpopup a.deletemarkup:hover {
    background-color: transparent
}

/* assets/trash_@2X.png */
.leaflet-retina .leaflet-measure-resultpopup a.deletemarkup {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAABHNCSVQICAgIfAhkiAAAAKNJREFUKJG9jj0KwkAQRt+E+AsWXsDOQwQvI4I2u42tFjb2VloFPIog4jbeQaztbCIuuBauRGUTO1/zMTOPmRHeMWoN0s8bLiVZDl+VsJnFANTPXZAtVDskiwwzboA9IVGPrH18ykZfgRo/cTd/XrtSz8+jr+Y0mJ5PGeYFGZRL+Zfs3CSYuYBg1J3DqBlctxu02GsLECM4jKTYygWjij5YATwAFTMzzTn7Q4EAAAAASUVORK5CYII=');
}

.leaflet-measure-resultpopup a.deletemarkup:hover {
    opacity: .5;
    text-decoration: none
}

/* assets/export.png */
.leaflet-measure-resultpopup a.exportmarkup {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 20px;
    margin-right: 4px;
    line-height: 1em;
    border: 0;
    text-align: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAJJJREFUOI3lzTEOwjAMheHfLDBynXKlZMgAUseOSImUhd6nU8KVmMxSJFo1KUIsqG+0nz/DhpPNQDbDWm33q3+bge62JZm4epVMJBlXhlQPiLgqlkxExCEcy1DTdyihiL0QJdD03ftKlr9aj3AGrqDNWM1AixI43S7zk2Voij3Gyb6E1KEpRg35LMl6kvXfA3+fJw8hMc6zWi/zAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 12px 12px;
    color: #17c671;
    text-decoration: none
}

.leaflet-measure-resultpopup a.exportmarkup,
.leaflet-measure-resultpopup a.exportmarkup:hover {
    background-color: transparent
}

/* assets/export.png */
.leaflet-retina .leaflet-measure-resultpopup a.exportmarkup {
    backgrobackground-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAJJJREFUOI3lzTEOwjAMheHfLDBynXKlZMgAUseOSImUhd6nU8KVmMxSJFo1KUIsqG+0nz/DhpPNQDbDWm33q3+bge62JZm4epVMJBlXhlQPiLgqlkxExCEcy1DTdyihiL0QJdD03ftKlr9aj3AGrqDNWM1AixI43S7zk2Voij3Gyb6E1KEpRg35LMl6kvXfA3+fJw8hMc6zWi/zAAAAAElFTkSuQmCC');
}

.leaflet-measure-resultpopup a.exportmarkup:hover {
    opacity: .5;
    text-decoration: none
}

